@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_root.scss";
@import "bootstrap/scss/_reboot.scss";
@import "bootstrap/scss/_grid.scss";
@import "bootstrap/scss/_type.scss";
@import "bootstrap/scss/_utilities.scss";

$metaHeight: 120px;

.picture-grid {
  @extend .d-flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.picture-grid-column {
  padding-left: 10px; /* gutter size */
}

// fade-in
.lazy-image {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: faedin 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  width: 100%;
}

// Style your items
.picture-grid-column {
  &> div {
    margin-bottom: 10px;
    width: 100%;
    display: block;

    .lazy-image img {
      width: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.picture {
  @extend .d-flex;
  position: relative;
  cursor: pointer;
}

.picture-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  padding: 10px;
}

.picture-viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend .d-flex;
  @extend .justify-content-center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;

  .lazy-image {
    width: 100%;
    margin: 0 auto;
    margin-bottom: $metaHeight + 40;
    margin-top: 40px;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.loader {
  position: fixed;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  z-index: 9999;
}

.btn {
  outline: 0;
  border: none;
  cursor: pointer;
  background: transparent;

  &:hover, &:active, &:focus {
    outline: 0;
  }
}

.close-btn {
  @extend .btn;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 40px;
}

.prev-btn,
.next-btn {
  @extend .btn;
  width: 60px;
  color: #fff;
  font-size: 40px;
}

.prev-btn {
  text-align: right;
}
.next-btn {
  text-align: left;
}

.picture-meta {
  position: fixed;
  height: $metaHeight;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #000;

  ul {
    @extend .container;
    color: #fff;
  }
}

.overflow-hidden {
  overflow: hidden;
}

// Get from http://tobiasahlin.com/spinkit/
.spinner {
  width: 40px;
  height: 40px;
  align-self: center;

  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// Fade in animations

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
